# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/
env/

# Node (husky git hooks tooling)
node_modules/

# env / secrets
.env
*.env

# IDE
.idea
.vscode
